@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Poppins:wght@300;400;500&display=swap');
*
 {
    font-family: 'Poppins', sans-serif;}
body {
padding : 0;
margin : 0;

}
.container{
    height:100vh;
    width:100%;
    background-image:url(main-images/xd.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
     transition:5s;


     animation-name:animate;
    animation-direction:alternate-reverse;
    animation-duration:10s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
    animation-play-state:running;
    animation-timing-function:ease-in-out;
}
@keyframes animate{
    25%{
        background-image: url(main-images/xd2.jpg);
    }
    50%{
        background-image: url(main-images/xd3.jpg   );
    }
    100%{
        background-image: url(main-images/xd4.jpg);
    }
}
header {
background-color : rgb(0, 0, 0, 0.3);
padding : 3px;
text-align : center;
margin-top : 0;
height : 100px;
display : grid;
grid-template-columns : 3fr 1fr;
}
header h1 {
display : flex;
font-size : 3em;
margin-block-start : 0.67em;
margin-block-end : 0.67em;
margin-inline-start : 0;
margin-inline-end : 0;
font-weight : bold;
justify-content : center;
margin-left : 440px;
}
.slider-frame {
overflow : hidden;
height : max-content;
width : max-content;
margin-left : 360px;
margin-top : 20px;
}
nav {
justify-self : end;
align-self : start;
position : relative;
}
.dropbtn {
background-color : #04AA6D;
color : white;
padding : 16px;
font-size : 16px;
border : none;
}
.dropdown-content {
display : none;
position : absolute;
right : 0;
background-color : #f1f1f1;
min-width : 160px;
box-shadow : 0 8px 16px 0 rgb(0, 0, 0, 0.2);
z-index : 1;
}
.dropdown-content a {
color : black;
padding : 12px 16px;
text-decoration : none;
display : block;
}
.dropdown-content a:hover {
background-color : #ddd;
}
nav:hover .dropdown-content {
display : block;
}
nav:hover .dropbtn {
background-color : #3e8e41;
}
.buttons {
text-align : center;
position : absolute;
top : 0;
left : 0;
}
.btn {
background-color : orange;
color : white;
transition-duration : 0.5s;
letter-spacing : 2px;
margin : 15px;
padding : 20px;
background-color : #006400;
font-family : sans-serif;
}

.buttons-2 {
    text-align : center;
    position : absolute;
    top : 0;
    right : 0;
    left: 5;
    }
    .btn-2:hover {
        cursor: pointer;
    }

.btn-2 {
    background-color : orange;
    color : white;
    transition-duration : 0.5s;
    letter-spacing : 1px;
    margin : 0px;
    padding : 20px;
    background-color : #006400;
    font-family : sans-serif;
    }
.btn:hover {
cursor : pointer;
}
main {
display : flex;
flex-direction : column;
align-items : center;
}
.hero {
font-size : 25px;
display : flex;
justify-content : center;
}
.about {
text-align : center;
color : black;
}
.about p {
font-weight : bold;
font-size : 20px;
}
section {
background-color : rgb(0, 0, 0, 0.2);
height : 400px;
color : yellow;
width : 700px;
display : flex;
flex-direction : column;
align-items : center;
font-family : Arial, Helvetica;
font-size : 35px;
}