2
3
5}
6html
7font-size:40px;
8
9
15
18
19
20
21
22
     padding:0;
     margin:0;
     box-sizing:border-box;
27
28
38
31
32
     font-family:'Montserrat';
     scroll-behavior:smooth;
   section{
     min-height:100vh;
     width:100%;
     display:flex;
     align-items:center;
     justify-content:center;
   }
   #sec-1{
     background-color:rgb(214,228,92);
     position:relative;
   }
   #sec-2{
  scroll-down{
     background-color:aliceblue;
     height:50px;
     width:30px;
     border:2px solid Oblack;
     position:absolute;
     left:50%;
     bottom:20px;
     border-radius:50px;
     cursor:pointer;